/*CONFIG INICIAL*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --espacamento: 10rem;
    --colorPadrao: #7E2726;
}
.divPrincipalHeader{
    width: 100%;
    height: 10vh;
    padding-left: var(--espacamento);
    padding-right: var(--espacamento);
}
/*------------------HEADER----------------------*/
header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}
.search{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listSearch{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.listSearch li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.listSearch li a:hover{
    color: var(--colorPadrao);
}
.login{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login button{
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 20px;
    border-color: var(--colorPadrao);
    color: var(--colorPadrao);
    background-color: transparent;
    margin-right: 10%;
}
.login button:hover{
    background-color: var(--colorPadrao);
    color: white;
}
#imgLogin:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
/*---------------MAIN--------------------*/
.searchInicial{
    width: 100%;
    height: 50vh; /*50*/
    border-top: 2px solid #DBDDE1;
    background-color: #F9F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divCentralMain{
    width: 80%;
    height: 35vh; 
    display: flex;
    flex-direction: column;
}
.titleSearchMain{
    width: 100%;
    height: 70%;
}
.contentTitle{
    font-size: 1rem;
}
.contentSearchMain{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentSearch{
    width: 90%;
    height: 90%;
    border-radius: 90px;
    box-shadow: 0px 2px 24px -10px rgba(0,0,0,0.48);
-webkit-box-shadow: 0px 2px 24px -10px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 2px 24px -10px rgba(0,0,0,0.48);
}
/*-------------MEDIA-QUERY 800px-------------*/
@media (max-width: 800px){
    header{
        height: 13vh;
    }
    .divPrincipalHeader{
        height: 13vh;
    }
    #logoIpua{
        width: 10%;
    }
    #imgLogin{
        width: 18px;
    }
    .listSearch li a{
        font-size: 0.5rem;
    }
    .login button{
        width: 55px;
        height: 20px;
        border-radius: 20px;
        font-size: 0.4rem;
    }
    .searchInicial{
        border-top: 1px solid #DBDDE1;
    }
    :root{
        --espacamento: 5rem;
    }
    .searchInicial{
        height: 70vh; 
    }
    .divCentralMain{
        height: 40vh; 
    }
    .titleSearchMain{
        width: 100%;
        height: 80%;
    }
    .contentTitle{
        font-size: 0.3rem;
    }
}